{% extends 'base.html' %}

{# TODO: Replace EVENT NAME with the event's name #}
{% block title %}Event Details | EVENT NAME{% endblock %}

{% block content %}
<div class="container">
    <div class="row">
        <div class="col">
            <h2>
                {{ data['name'] }}
            </h2>
            <p>
                {{ data['info'] }}
            </p>
        </div>
    </div>

    <div class="row">
        <div class="col col-md-4">
            {#
            TODO: Replace EVENT IMAGE URL with actual URL to one of the
            event images
            #}
            <img src='{{ data["images"][0]["url"] }}'>

            <p>
                {#
                TODO: Replace EVENT TICKETMASTER URL with URL to event's
                Ticketmaster page
                #}
                <a href="{{ data['url']}}" target="_blank">
                    Go to Ticketmaster page
                </a>
            </p>
        </div>

        <div class="col">
            <h3>Start date</h3>
            {# TODO: Replace EVENT START DATE with event's start date #}
            <p>{{ data["dates"]["start"]["localDate"] }}</p>

            <h3>Venues</h3>
            <ul>
                {% for venue in venues %}
                <li>
                    {{ venue['name'] }}

                </li>
                {% endfor %}
            </ul>

            <h3>Classifications</h3>
            <ul>
                {% for genre in data["classifications"]%}
                <li>
                    {{ genre["genre"]["name"] }}
                </li>
                {% endfor %}
            </ul>
        </div>
    </div>
</div>
{% endblock %}
